
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

/* use only the available space inside the 400x400 frame */
.frame {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 400px;
	height: 400px;
	margin-top: -200px;
	margin-left: -200px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	color: #333;
	font-family: "Open Sans", Helvetica, sans-serif;
	background-image: linear-gradient(to right, #4444a2, #4ec4c9);
	border-radius: 10px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.one-hundred {
	height: 100px;
	width: 200px;
	position: relative;
}

.number {
	background-color: #fff;
	position: absolute;
	box-shadow: 0.5px 0.5px 8px #00000033;
}

.one-one,
.one-two {
	border-radius: 3px;
	width: 24px;
}

.one-one {
	transform: rotate(53deg);
	z-index: -1;
	left: -18px;
	top: 2px;
	height: 40px;
}

.one-two {
	height: 100%;
	left: 0;
	top: 0;
}

.zero-one,
.zero-two {
	width: 50px;
	height: 50px;
	border: 25px solid #fff;
	background-color: transparent;
	border-radius: 50px;
}

.zero-one {
	left: 20px;
	z-index: -1;
}

.zero-two {
	z-index: -2;
	left: 100px;
}

.text-big,
.small-text {
	font-family: "Courier New", "Courier", sans-serif;
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	-webkit-font-smoothing: antialiased;
}

.text-big {
	font-size: 86px;
	line-height: 60px;
}

.small-text {
	font-size: 26px;
}
